### Importaci√≥n de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359

#1. An√°lisis de facturaci√≥n

# 2. Ventas por categor√≠a

In [12]:
# Agrupo por la columna "Categor√≠a del Producto" y cuento cu√°ntos productos hay por categor√≠a

print("üõí Tienda 1 - Categor√≠as m√°s vendidas:")
print(tienda["Categor√≠a del Producto"].value_counts())
print("\n")

print("üõí Tienda 2 - Categor√≠as m√°s vendidas:")
print(tienda2["Categor√≠a del Producto"].value_counts())
print("\n")

print("üõí Tienda 3 - Categor√≠as m√°s vendidas:")
print(tienda3["Categor√≠a del Producto"].value_counts())
print("\n")

print("üõí Tienda 4 - Categor√≠as m√°s vendidas:")
print(tienda4["Categor√≠a del Producto"].value_counts())

üõí Tienda 1 - Categor√≠as m√°s vendidas:
Categor√≠a del Producto
Muebles                    465
Electr√≥nicos               448
Juguetes                   324
Electrodom√©sticos          312
Deportes y diversi√≥n       284
Instrumentos musicales     182
Libros                     173
Art√≠culos para el hogar    171
Name: count, dtype: int64


üõí Tienda 2 - Categor√≠as m√°s vendidas:
Categor√≠a del Producto
Muebles                    442
Electr√≥nicos               422
Juguetes                   313
Electrodom√©sticos          305
Deportes y diversi√≥n       275
Instrumentos musicales     224
Libros                     197
Art√≠culos para el hogar    181
Name: count, dtype: int64


üõí Tienda 3 - Categor√≠as m√°s vendidas:
Categor√≠a del Producto
Muebles                    499
Electr√≥nicos               451
Juguetes                   315
Electrodom√©sticos          278
Deportes y diversi√≥n       277
Libros                     185
Instrumentos musicales     177
Art√≠culos para el hogar    177
Name: count, dtype: int64


üõí Tienda 4 - Categor√≠as m√°s vendidas:
Categor√≠a del Producto
Muebles                    480
Electr√≥nicos               451
Juguetes                   338
Deportes y diversi√≥n       277
Electrodom√©sticos          254
Art√≠culos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

# 3. Calificaci√≥n promedio de la tienda

In [14]:
# Calculo el promedio de calificaciones por tienda

promedio_t1 = tienda["Calificaci√≥n"].mean()
promedio_t2 = tienda2["Calificaci√≥n"].mean()
promedio_t3 = tienda3["Calificaci√≥n"].mean()
promedio_t4 = tienda4["Calificaci√≥n"].mean()

print("Calificaci√≥n promedio por tienda:")
print("Tienda 1:", round(promedio_t1, 2))
print("Tienda 2:", round(promedio_t2, 2))
print("Tienda 3:", round(promedio_t3, 2))
print("Tienda 4:", round(promedio_t4, 2))

Calificaci√≥n promedio por tienda:
Tienda 1: 3.98
Tienda 2: 4.04
Tienda 3: 4.05
Tienda 4: 4.0

# 4. Productos m√°s y menos vendidos

In [15]:
# Productos m√°s vendidos por tienda
print("Top 5 productos m√°s vendidos - Tienda 1")
print(tienda["Producto"].value_counts().head(5))
print("\n")

print("Top 5 productos m√°s vendidos - Tienda 2")
print(tienda2["Producto"].value_counts().head(5))
print("\n")

print("Top 5 productos m√°s vendidos - Tienda 3")
print(tienda3["Producto"].value_counts().head(5))
print("\n")

print("Top 5 productos m√°s vendidos - Tienda 4")
print(tienda4["Producto"].value_counts().head(5))

Top 5 productos m√°s vendidos - Tienda 1
Producto
Microondas          60
TV LED UHD 4K       60
Armario             60
Secadora de ropa    58
Mesa de noche       56
Name: count, dtype: int64


Top 5 productos m√°s vendidos - Tienda 2
Producto
Iniciando en programaci√≥n    65
Microondas                   62
Bater√≠a                      61
Guitarra ac√∫stica            58
Pandereta                    58
Name: count, dtype: int64


Top 5 productos m√°s vendidos - Tienda 3
Producto
Kit de bancas      57
Mesa de comedor    56
Cama king          56
Set de ollas       55
Mesa de noche      55
Name: count, dtype: int64


Top 5 productos m√°s vendidos - Tienda 4
Producto
Cama box                     62
Cuberter√≠a                   59
Dashboards con Power BI      56
Cama king                    56
Carrito de control remoto    55
Name: count, dtype: int64

In [16]:
# Productos menos vendidos por tienda
print("Productos menos vendidos - Tienda 1")
print(tienda["Producto"].value_counts().tail(5))
print("\n")

print("Productos menos vendidos - Tienda 2")
print(tienda2["Producto"].value_counts().tail(5))
print("\n")

print("Productos menos vendidos - Tienda 3")
print(tienda3["Producto"].value_counts().tail(5))
print("\n")

print("Productos menos vendidos - Tienda 4")
print(tienda4["Producto"].value_counts().tail(5))

Productos menos vendidos - Tienda 1
Producto
Ciencia de datos con Python    39
Pandereta                      36
Olla de presi√≥n                35
Auriculares con micr√≥fono      33
Celular ABXY                   33
Name: count, dtype: int64


Productos menos vendidos - Tienda 2
Producto
Auriculares        37
Sill√≥n             35
Mesa de comedor    34
Impresora          34
Juego de mesa      32
Name: count, dtype: int64


Productos menos vendidos - Tienda 3
Producto
Guitarra el√©ctrica         38
Set de vasos               36
Mochila                    36
Microondas                 36
Bloques de construcci√≥n    35
Name: count, dtype: int64


Productos menos vendidos - Tienda 4
Producto
Refrigerador                   38
Ciencia de datos con Python    38
Guitarra ac√∫stica              37
Armario                        34
Guitarra el√©ctrica             33
Name: count, dtype: int64

# 5. Env√≠o promedio por tienda

In [18]:
# Calculo el costo promedio de env√≠o por tienda

envio_t1 = tienda["Costo de env√≠o"].mean()
envio_t2 = tienda2["Costo de env√≠o"].mean()
envio_t3 = tienda3["Costo de env√≠o"].mean()
envio_t4 = tienda4["Costo de env√≠o"].mean()

print("Costo promedio de env√≠o por tienda:")
print("Tienda 1:", round(envio_t1, 2))
print("Tienda 2:", round(envio_t2, 2))
print("Tienda 3:", round(envio_t3, 2))
print("Tienda 4:", round(envio_t4, 2))

Costo promedio de env√≠o por tienda:
Tienda 1: 26018.61
Tienda 2: 25216.24
Tienda 3: 24805.68
Tienda 4: 23459.46